# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
.eggs/
.env
.env.*
.venv/
venv/
pip-wheel-metadata/
dist/
build/
.cache/
.ipynb_checkpoints/

# OS / editor
.DS_Store
*.swp
.idea/
.vscode/
# Project artifacts
models/rag/*
